<?xml version="1.0" encoding="UTF-8" ?>

<beans>

    <bean id="userDao" class="com.xuyi.springframework.test.bean.UserDao" init-method="initDataMethod" destroy-metho="destroyDataMethod"/>

    <bean id="userService" class="com.xuyi.springframework.test.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="my"/>
        <property name="location" value="上海"/>
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>