<?xml version="1.0" encoding="utf-8" ?>

<beans>

    <bean id="userDao" class="com.xuyi.springframework.test.beans.UserDao"/>

    <bean id="userService" class="com.xuyi.springframework.test.beans.UserService">
        <property name="uId" value="10001"/>
        <property name="userDao" ref="userDao"/>
    </bean>


</beans>